.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__main-square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
  background-position: center;
  z-index: 0;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.logo{
  width: 228px;
  height: 32px;
}
.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  z-index: 1;
}
.header__subtitle{
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  z-index: 2;
}
.header_link{
  z-index: 2;
  color: #2f80ed;
}
.header__title{
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-style: 600;
  z-index: 2;
}
.header__main-illustration{
  position: absolute;
  background-position: bottom right;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.description{
  justify-content: space-between;
  display: flex;
  position: relative;
  top: 100px;
}
.two-columns{
  margin: 0px auto;
  min-width: 784px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
}
.two-columns__brief{
  color: #2f80ed;
  line-height: 120%;
  font-size: 18px;
  font-style: normal;
}
.two-columns__main-text{
  width: 80%;
}
.two-columns__paragraph{
  line-height: 34px;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 30px;
}
.span-accent{
  font-weight: bold;
}
.two-columns__second-paragraph :last-of-type{
  line-height: 34px;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 30px;
}
.two-columns__paragraph{
  line-height: 34px;
  font-style: normal;
  font-size: 24px;
}
.digits__section-title{
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  line-height: 115%;
  font-size: 60px;
  font-style: 600;
}
.digits__section-subtitle{
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.digits__table__heading{
  line-height: 115%;
  font-size: 24px;
  font-style: 600;
}
.digits__table-text{
  line-height: 120%;
  font-size: 18px;
  font-style: normal;
}
.digits__table{
  flex-wrap: wrap;
  display: flex;
  list-style-type: none;
  width: 1100px;
  margin: 0 auto 100px;
  justify-content: space-between;
}
.digits__table__cell{
  width: 250px;
  margin-top: 60px;
  text-align: left;
}
.bank{
  padding-top: 20px;
}
.feynman{
  height: 890px;
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: -1;
  background-color: #f2f2f2;
  }
.feynman__title{
  line-height: 115%;
  font-size: 120px;
  font-style: 600;
  text-align: center;
  width: 648px;
  margin: 0  auto;
  position: relative;
  z-index: 1;
}
.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  margin: 70px 0 0;
  position: relative;
  z-index: 1;
  text-align: center;
}
.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  right: 48px;
  top: 50%;
  z-index: 1;
  color: #2f80ed;
  position: absolute;
}
.feynman__img{
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}
.kaufman{
  overflow: hidden;
  background-color: #1f1f1f;
  z-index: -2;
  position: relative;
}
.kaufman__section-title_dark{
  text-align: center;
  width: 60%;
  line-height: 115%;
  font-size: 60px;
  font-style: 600;
  z-index: 1;
  margin: 0 auto;
  color: white;
  padding-top: 90px;
}
.kaufman__section-subtitle_dark{
  padding-top: 20px;
  text-align: center;
  margin: auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  z-index: 1;
  color: white;
}
.kaufman__table_dark{
  flex-wrap: wrap;
  display: flex;
  list-style-type: none;
  width: 1100px;
  margin: 0 auto 100px;
  justify-content: space-between;
  padding-left: 0;

}
.kaufman__table__cell_dark{
  z-index: 1;
  margin-top: 80px;
  width: 200px;
  text-align: left;
}
.kaufman__table__heading_dark{
  line-height: 115%;
  font-size: 24px;
  font-style: 600;
  z-index: 1;
  color: white;
}
.kaufman__table-text_dark{
  line-height: 120%;
  font-size: 18px;
  font-style: normal;
  z-index: 1;
  color: white;
}
.kaufman__triangle{
  z-index: 0;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
}
.footer{
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.footer__columns{
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.footer__column-content-copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo__place_footer{
  margin: 0;
}
.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-bottom: 18px;
  margin-top: 18px;
  align-self: flex-start;
}
.footer__column_content_info{
  display: flex;
  flex-direction: column;
}
.footer__column-heading{
  color: white;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-style: 600;
  margin-bottom: 20px;
}
.footer__column-links{
  padding: 0;
  margin-left: 0;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  list-style: none;
}
.footer__column_content_social{
  margin-top: 0;
  color: white;
}
.footer__column-link{
  color: white;
  text-decoration: none;
}
.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}